html,body {
  background-color: black;
  margin: 0 auto;
}

#Obscurity_Logo {
  position: relative;
}

nav {
  position: relative;
  text-align: center;
  background-color: rgb(5,5,5);
}

nav a {
  text-decoration: none;
  font-family: 'Monoton', cursive;
  font-size: 3vw;
  color: white;
}

nav a:hover {
  background-color: rgb(25,0,25);
  border-radius: 50px;
}

#list {
  margin-left: 15vw;
  position: relative;
    top: 5vw;
}
