html,body {
  background-color: black;
  margin: 0 auto;
}

#Obscurity_Logo {
  position: relative;
}

nav {
  position: relative;
  text-align: center;
  background-color: rgb(5,5,5);
}

nav a {
  text-decoration: none;
  font-family: 'Monoton', cursive;
  font-size: 500%;
  color: white;
}

nav a:hover {
  background-color: rgb(25,0,25);
  border-radius: 50px;
}

#container {
  position: relative;
    top: 5vw;
    left: 25%;
  width: 75%;
  height: 25%;
}

embed {
  width: 50vw;
  height: 50vw;
}
