html,body {
  background-color: black;
  margin: 0 auto;
}

#Obscurity_Logo {
  position: relative;
}

nav {
  position: relative;
  text-align: center;
  background-color: rgb(5,5,5);
}

nav a {
  text-decoration: none;
  font-family: 'Monoton', cursive;
  font-size: 500%;
  color: white;
}

nav a:hover {
  background-color: rgb(25,0,25);
  border-radius: 50px;
}

#container {
  position: relative;
    left: 12%;
  width: 75%;
  height: 100%;
}

nav a:hover {
  background-color: rgb(25,0,25);
  border-radius: 50px;
}


nav a:hover {
  background-color: rgb(25,0,25);
  border-radius: 50px;
}

embed {
  width: 75vw;
  height: 75vw;
}
